@import "tailwindcss";

@theme inline {
  --color-azulapple: #0071e3;
  --color-negroapple: #050505;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-display: var(--font-display);
  --font-handwritten: var(--font-handwritten);
}

.no-native-password-toggle::-ms-reveal,
.no-native-password-toggle::-ms-clear {
  display: none;
}
